

*
{
padding: 0px;
margin: 0px;
}

body
{
background: #F9F9F7 url('images/a1.gif') repeat-x;
font-size: 11px;
font-family: "trebuchet ms", helvetica, sans-serif;
color: #8C8C73;
line-height: 18px;
}

a
{
color: #f53b6c;
}



p
{
margin-bottom: 14px;
text-align: justify;
}

img.picA
{
position: relative;
top: -2px;
background: url('images/kakao.png');
width: 76px;
height: 74px;
padding: 8px;
}

img.picB
{
position: relative;
top: -2px;
background: url('images/kakao.png') no-repeat;
width: 146px;
height: 75px;
padding: 7px;
}

img.floatleft    /* 첫번째 우리 회사로고 왼쪽에 박아주는거 */
{
float: left;
margin: 0px 14px 3px 0px;
}






/* 대가리부분 디자인 박아주는거 */
#outer
{
position: relative;
width: 747px;
margin: 0 auto;
background: #fff url('images/abg.gif') repeat-y;
}

/* 만든거 앞으로 올려줌 없음 내려가드라 */
#inner
{
position: relative;
padding: 13px 30px 13px 30px;
z-index: 2;	
}

#header
{
position: absolute;
background: #a0b2d7;
width: 666px;
height: 92px;
color: #fff;
padding-left: 20px;
}

#header span
{
font-weight: normal;
}

#header h1
{
position: absolute;
letter-spacing: -1px;
top: 30px;
height: 92px;
}

#header h2
{
position: absolute;
font-weight: normal;
color: #fff;
top: 51px;
}




#menu
{
position: relative;
background: #a0b2d7;
height: 67px;
padding: 0px 20px 0px 5px;
margin: 98px 0px 20px 0px;
}



#menu ul li
{
display: inline; /* 한줄로만들어줌 */
line-height: 52px;
padding-left: 3px;
}

/* 메뉴를 눌렀을 때 호과를 주는거임 */
#menu ul li a:hover
{
background: #fff url('images/a18.gif');
text-decoration: none;
}


/* 메뉴 뒤에 색 때려박고 크기 패딩 사이즈 글모양 */
#menu ul li a
{
background-color: #a0b2d7;
background-repeat: repeat-x;
padding: 8px 12px 8px 12px;
font-size: 12px;
color: black;
font-weight: bold;
}


}




/* main content================================== */
#primarycontent
{
position: relative;
width: 480px;
float: left;
}

/* 주제부분============================ */
#primarycontent h3
{
position: relative;
top: 4px;
font-size: 18px;
line-height: 25px;
color: white;
background: #a0b2d7;
letter-spacing: -1px;
padding: 0px 0px 10px 15px;
margin-bottom: 20px;
}

#primarycontent .content
{
padding: 0px 15px 0px 15px;
margin-bottom: 20px;
}

#primarycontent .post
{
margin-bottom: 30px;
}

#primarycontent .post .header
{
position: relative;
}

#primarycontent .post .date
{
position: absolute;
right: 15px;
top: 0px;
line-height: 35px;
color: #AFAFA4;
font-weight: bold;
}

#primarycontent .post .content
{
margin-bottom: 0px;
}




#primarycontent .post .footer ul li
{
display: inline;
line-height: 14px;
padding-left: 17px;
margin-left: 25px;
background-repeat: no-repeat;
background-position: 0px 2px;
}



#footer
{
position: relative;
clear: both;
height: 66px;
text-align: left;
/* line-height: 66px; */ /* 텍스트의 높낮이를 조절할수있음 */
/* 마지막 회사 뒷 배경 이미지 넣을거 */
background-image: url('../image/heart.png');
color: #6672ce;
}

#footer a
{
color: black;
}
