img{

  display: block;

  border: 0;

}



.slide{

  width: 600px;

  height: 300px;

  margin: 0 auto;

  overflow: hidden;

  position: relative;

}



.slide ul{

  width: 3000px;

  list-style: none;

  font-size: 0;

}



.slide ul li{

  display: inline-block;

}



.slide button.prev{

  position: absolute;

  left: 0;

  top: 120px;

}



.slide button.next{

  position: absolute;

  right: 0;

  top: 120px;

}

